.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.layout-container {
    display: flex;
    align-items: center;
    gap: 200px; 
}

.image-container {
    flex: 1; 
    max-width: 30%;
}

.side-image {
    max-width: 100%;
    height: auto; 
    border-radius: 10px;
}

.login-wrapper {
    flex: 1; 
    max-width: 40%; 
}

.login-form {
    background-color: #f9f9f9; 
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.custom-button {
    background-color: #EDB4E0;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-button:hover {
    background-color: #d89ecb;
}
