{% extends "base.html" %}
{% block title %}Category{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/category.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <img src="{{ url_for('static', filename='images/rabbit.jpg') }}" alt="rabbit logo">
    <h1>My Goal is related to...</h1>
    <div class="button-group">
        <a href="{{ url_for('templates', filename='categorydetails.html') }}">
        <button class="category-btn" >Academic</button></a>

        <a href="{{ url_for('templates', filename='categorydetails.html') }}">
        <button class="category-btn">Hobbies</button></a>

        <a href="{{ url_for('templates', filename='categorydetails.html') }}">
        <button class="category-btn">Fitness</button></a>
    </div>
</div>
{% endblock %}
